spring:
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  config:
    import:
      - application-actuator.yml
      - application-oauth-${spring.profiles.active}.yml
      - application-client-${spring.profiles.active}.yml
      - application-storage-${spring.profiles.active}.yml
springdoc:
  swagger-ui:
    path: /swagger
server:
    port: 9090
jwt:
    access:
        expire: ${ACCESS_TOKEN_EXPIRE:86400000} # 1 day
        secret: ${ACCESS_TOKEN_SECRET:5f95a5f5c5b5a5a5958f8f7f7e7e7d7d7c6b6a696867666564636261605f}
    refresh:
        expire: ${REFRESH_TOKEN_EXPIRE:604800000} # 1 week
        secret: ${REFRESH_TOKEN_SECRET:5f95a5f5c5b5a5a5958f8f7f7e7e7d7d7c6b6a696867666564636261605f}
